.pace .pace-progress {
  background: #000;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 1px;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

.page{
    text-align: center;
    margin-top: 50px;
}
.post .entry-content img{
    display: block;
    height: auto;
    max-width: 100%;

}